*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    background: black;
    filter: invert(1) hue-rotate(180deg);
}

.nav-list{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-left: auto;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.home, .about, .contact{
    height: 90vh;
    position: absolute;
    width: 100%;
}

.home-content, .about-content, .contact-content{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img{
        height: 70%;
        border: 2rem groove rgb(129, 115, 115);
        box-shadow: 10px 20px 10px 0px;
    }
    h1{
        font-size: 50px;
        margin: 30px 0px;
    }
    p{
        font-size: 20px;
    }
}

.home{
    background-image: linear-gradient(to left, #df0b0b 0%, #4e2222 100%);
}

.about{
    background-image: linear-gradient(to right, #535258 0%, #011018 100%);
}

.contact{
    background-image: linear-gradient(to left, #042e0b 0%, #33c70e 100%);
}