.reference{
    position: relative;
    background: tomato;
    width: 100px;
    height: 100px;
}

.popout-menu{
    position: absolute;
    visibility: hidden;
    left: 100%;
    background: #333;
    color: white;
    padding: 15px;
    top: 20%;
}

.reference:hover > .popout-menu{
    visibility: visible;
}